doctype html
html
  head
    title Seattle Micromouse League
    link(href="/assets/css/main.css", rel="stylesheet")
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-514101-23', 'seattlemicromouse.com');
      | ga('require', 'linkid', 'linkid.js');
      | ga('send', 'pageview');
  body
    div#header
      header.container
        h1#title Seattle Micromouse League
        div#subtitle
          | A  
          a(href="http://en.wikipedia.org/wiki/Micromouse") Micromouse 
          Robotics Competition League in Seattle, Washington

    div#signup
      div.container
        p
          | Micromouse robotics have a low barrier of entry
          | and are a great way to get your hands dirty with robotics.
        p
          | We are just getting organized to start the league, and we
          | need your help!
          | Our goal is to start a friendly competition between 
          | Seattle-Area people to foster community within the area.
        p
          | &amp; because robots are cool, and tiny robots are even cooler.
        p.highlight
          | If you want to be involved, sign up for the announcement list
          | using the form below

        include mailchimp.html

        p
          | If you are a company interested in sponsoring the Seattle Micromouse
          | League, 
          a(href="http://eepurl.com/bfBALn") sign up
          |  for our sponsors list to be notified when we are ready to accept
          | sponsors.
    div#footer
      div.container
        p
          | 
          a(href="http://russellhay.com") Russell
          |  &amp; 
          a(href="") Spencer
          |  are your primary organizers
