<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
    <form action="//seattlemicromouse.us4.list-manage.com/subscribe/post?u=3c0f85a1ccddef8715e575d6a&amp;id=4b3da26f4e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_3c0f85a1ccddef8715e575d6a_4b3da26f4e" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="sign up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                        </div>
    </form>
</div>

<!--End mc_embed_signup-->
