$white-chocolate: #F0EAE4
$original-special-shirt: #CBE86B
$special-shirt: darken($original-special-shirt, 20%)
$write-it: #F2E9E1
$asphalt: #2B2727

$fire: #B80606
$substance-abuse: #FF860D
$brownlight: #262222

body
  background-color: $asphalt
  color: $white-chocolate

  a
    color: $special-shirt

#header
  background: $special-shirt
  color: $write-it

  a
    color: $asphalt

#signup
  background: $white-chocolate
  color: $asphalt
  a
    font-weight: bold
