=centered-box
  max-width: 960px
  margin-left: auto
  margin-right: auto

.container
  +centered-box()

#header
  .container 
    padding-top: 5vh
    padding-bottom: 5vh

  h1
    padding-top: 1vh
    padding-bottom: 1vh

#signup
  padding-bottom: 2vh

#footer
  padding-bottom: 2vh
