#mc_embed_signup
  background-color: inherit !important
  padding-top: .5em
  padding-bottom: .5em

  input#mce-EMAIL
    font-family: 'telegramarender'
    margin-top: 1em
    font-size: 1.75em
    padding: 0.5em
    width: 50vw
    color: $asphalt
    background: $write-it
    border: 1px solid $asphalt
    box-shadow: none
    border-radius: 1vh

  input[type=submit]
    font-family: 'telegramarender'
    border-radius: 1vh
    box-shadow: none
    transition-property: background
    transition-duration: 0.3s
    color: #87807D
    background: $write-it
    text-shadow: none
    line-height: 1em
    font-weight: 300
    text-decoration: none
    text-align: center
    display: inline-block
    padding: .25em 1em
    text-transform: lowercase
    margin-top: 1em
    border: 1px solid $asphalt

    &:hover
      background-color: $special-shirt
