@font-face
  font-family: 'telegramarender'
  src: url('/assets/fonts/telegrama_render-webfont.eot')
  src: url('/assets/fonts/telegrama_render-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/telegrama_render-webfont.woff2') format('woff2'), url('/assets/fonts/telegrama_render-webfont.woff') format('woff'), url('/assets/fonts/telegrama_render-webfont.ttf') format('truetype'), url('/assets/fonts/telegrama_render-webfont.svg#telegramarender') format('svg')
  font-weight: normal
  font-style: normal

body
  line-height: 1.5em
  font-family: 'telegramarender'

a
  font-weight: bold
  text-transform: uppercase

p
  padding-top: 1.5em

  &.highlight
    font-weight: bold

#header
  h1
    font-size: 3em
  #subtitle
    padding-left: .5em
    padding-top: .5em
